:root{
    --primary:#37517E;
    --transition:all 0.6s;
}
.first,.second{
    background: var(--primary);
    color: white;
}
nav a{
    color: white !important;
}
.image{
    animation: move 1s linear infinite alternate-reverse;
    transition: all 0.3s ;
}
.img{
    filter: grayscale(100%);
    transition: all 0.6s;
}
.img:hover{
    filter: grayscale(0%);
}
.about{
    color: var(--primary);
}
.g-b{
    position: relative;
}
.gray{
    width: 200px;
    height:2px;
    background: gray;
    margin: auto;
}
.blue{
    width: 5%;
    height:4px;
    background: blue;
    margin: auto;
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
}
.displayed-6{
    color: var(--primary);
}
h5{
    color: var(--primary) !important;
}
.cta{
    background: linear-gradient(rgba(40, 58, 90, 0.9), rgba(40, 58, 90, 0.9)) fixed center center;
    background-size: cover;
}
.list ul{
    display: flex;
    justify-content: center;
}
.list li{
    list-style: none;
    cursor: pointer;
    display: inline-block;
    margin: 10px 5px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1;
    color: #444444;
    transition: all 0.3s;
    padding: 8px 20px;
    border-radius: 50px;
    font-family: "Poppins", sans-serif;
}
.list li:hover{
    background: #47b2e4;
    color: #fff;
}
.img-fluid{
    border-radius: 50%;
}
.plan li{
    list-style: none;
}




@keyframes move{
    from{
        transform: translateY(0);
    }
    to{
        transform: translateY(-20px);
    }
}
@media only screen and(max-width:600px){
    .third{
        height: 100vh;
        display: flex !important;
        justify-content: center;
        align-items: center;
    }
    .landing{
        flex-direction: column-reverse;
        
    }
}
    










